.app-wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 18fr;
  /*grid-gap: 10px;*/

  width: 1483px;
}

.app-wrapper-content{
  background-color: #919090;
}